asgiref==3.2.10
Django==3.1.6
psycopg2==2.8.5
pytz==2020.1
sqlparse==0.3.1
django-tables2==2.3.1
django-filter==2.3.0
django-postgres-copy==2.4.1
django-debug-toolbar==2.2.1
django-environ==0.4.5
gunicorn==20.0.4
whitenoise==5.2.0
pdftotext==2.1.5
