<!DOCTYPE html>
<!--
This is your base template. Every other template you have for a model should include
the extends base.html tag and the block content tag. This will allow you to control your base page,
header, footer, etc without having to copy and past it into each template. IE: You can edit your header
and it will work everywhere because everything extends base.html.
--->
<html lang="en">
    <head>
        {% include "header.html" %}
    </head>
<body>

{% block content %}{% endblock %}

{% include "footer.html" %}
</body>
</html>